<div class="routes-info">
  <div class="card">
    <div class="card-body m-3">
      <h1>Transportes Playa Colorada</h1>
      <p>
        Es un transporte que ofrecemos de manera colectiva o privada cotizando
        los precios según la disponibilidad del transporte y la cantidad de
        personas.
      </p>
      <br />
      <h3>Horarios:</h3>
      <br />
      <div class="schedule-info">
        <ul *ngFor="let item of routes; let i = index">
          <li *ngFor="let route of routes; let i = index">
            {{ item.fields.ruta[i] }}:
            <span>{{ item.fields.schedule[i] }}</span>
          </li>
          <p>Precio por persona: ${{ item.fields.price }}</p>
        </ul>
      </div>
      <br />
      <div>
        <img src="assets/img/embarcacion.jpeg" alt="" />
      </div>
    </div>
    <div class="wrap mt-5 mb-5">
      <button class="button" (click)="navigate()">
        Pregunta por más información
      </button>
    </div>
  </div>
</div>
