<div class="routes-info">
  <div class="card">
    <div class="card-body m-3">
      <h1>Transportes Playa Colorada</h1>
      <p>
        {{
          "It is a transport that we offer collectively or privately, quoting prices according to the availability of transport and the number of people."
            | translate
        }}
      </p>
      <br />
      <h3>{{ "Schedules:" | translate }}</h3>
      <br />
      <div class="schedule-info">
        <ul *ngFor="let item of routes; let i = index">
          <li *ngFor="let route of routes">
            {{ item.fields.ruta[i] }}:
            <span>{{ item.fields.schedule[i] }}</span>
          </li>
          <p>{{ "Price per person: " | translate }} ${{ item.fields.price }}</p>
        </ul>
      </div>
      <br />
      <div>
        <img src="assets/img/embarcacion.jpeg" alt="" />
      </div>
    </div>
    <div class="wrap mt-5 mb-5">
      <button class="button" (click)="navigate()">
        {{ "Ask for more information" | translate }}
      </button>
    </div>
  </div>
</div>
