<div>
  <div class="card mt-5">
    <img src="assets/img/logo.png" alt="Logo" style="width: 50%" />
    <h1>Transporte Playa Colorada</h1>
    <p class="title">{{ "We are a family business" | translate }}</p>
    <p>Siepre, Osa, Puntarenas</p>
    <a href="#"><i class="fa-brands fa-facebook"></i></a>
    <a href="#"><i class="fa-brands fa-instagram"></i></a>
    <a href="#"><i class="fa-brands fa-airbnb"></i></a>
    <a href="wa.me/50688514973" target="_blank"
      ><i class="fa-brands fa-whatsapp"></i
    ></a>
    <br />
    <p>{{ "Contact us by any way" | translate }}</p>
  </div>
</div>
