<section class="sec1">
  <div class="flex-container">
    <div class="flex-item-left">
      <h1>Ready for</h1>
      <h3>a new</h3>
      <div>
        <svg xmlns="http://www.w3.org/2000/svg">
          <!-- filterUnits is required to prevent clipping the blur outside the viewBox -->

          <filter id="motion-blur-filter" filterUnits="userSpaceOnUse">
            <!-- We only want horizontal blurring. x: 100, y: 0 -->

            <feGaussianBlur stdDeviation="100 0"></feGaussianBlur>
          </filter>
        </svg>

        <!-- We use a custom attribute to set the text that the pseudo element should display and blur. In this case, we use the first character of the word. -->

        <span filter-content="S">Adventure?</span>
      </div>
    </div>
    <div class="flex-item-right">
      <img src="assets/img/logo.png" alt="" class="logo-home" />
    </div>
  </div>
</section>
<section class="sec2">
  <div class="sec2-text">
    <h1>Bienvenidos a <span>Transportes Playa Colorada!</span></h1>
    <br />
    <h2>Ven y disfruta con nosotros de las maravillas de Bahia Drake</h2>
    <h3>
      Siempre teniendo en cuenta las prácticas de seguridad y el turismo
      responsable
    </h3>
  </div>
  <div class="cta-two"></div>
  <!-- <img src="assets/img/wave.png" class="wave" alt="" /> -->
</section>
<section class="sec3">
  <div>
    <h1><span>Ven y disfruta!</span></h1>
    <div class="sec3-item pt-5">
      <div class="sec3-l">
        <h2>Bahia Drake</h2>
        <p>
          un destino donde puedes conocer lugares como lo es el río Agujitas y
          sus senderos, a su vez visitar las playas más importantes. Este es un
          pueblo de Osa que cuenta con todas las comodidades como hoteles,
          restaurantes y supermercados. Además, te invitamos a descubrir lo
          fascinante que es el pueblo de Sierpe ya que para poder llegar a Bahia
          Drake se debe de realizar un viaje de aproximadamente una hora y
          veinte minutos.
        </p>
        <br />
        <p>También ofrecemos hospedaje</p>
        <i class="fa-brands fa-airbnb fa-2xl"></i>
      </div>
      <div class="sec3-r">
        <img src="assets/img/Drake.jpeg" alt="" />
      </div>
    </div>
    <div class="wrap mt-5 pt-5">
      <button class="button" (click)="navigate()">
        Pregunta por más información
      </button>
    </div>
  </div>
</section>
