<div class="about">
  <div class="card mt-5">
    <div class="card-header"><h2>¿Quiénes somos?</h2></div>
    <div class="card-img mt-5">
      <div class="carrusel-img">
        <div
          id="carouselExampleControls"
          class="carousel slide"
          data-ride="carousel"
        >
          <div class="carousel-inner">
            <div
              class="carousel-item"
              *ngFor="let image of data.photo; first as isFirst"
              [ngClass]="{ active: isFirst }"
            >
              <img
                class="img-fit"
                src="{{ image.fields.file.url }}"
                alt="Photo"
              />
            </div>
          </div>
          <a
            class="carousel-control-prev"
            href="#carouselExampleControls"
            role="button"
            data-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#carouselExampleControls"
            role="button"
            data-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
    <br />
    <hr size="30" noshade class="line" />
    <div class="card-body m-3">
      <br />
      <div class="info-card">
        <h5 class="card-title">Un poco de nosotros</h5>
        <p class="card-text">
          {{ data.description }}
        </p>
      </div>
      <br />
      <div class="info-card">
        <h5 class="card-title">Misión y Visión</h5>
        <p class="card-text">
          {{ data.misionVision }}
        </p>
      </div>
    </div>
  </div>
</div>
