<nav
  class="navbar navbar-expand-lg navbar-dark sticky-top justify-content-between"
  *ngIf="isMobileLayout == false"
>
  <a class="navbar-brand" routerLink="/home">
    <img src="assets/img/logo.png" alt="Logo" class="logo-img" />
  </a>
  <div class="navbar-desktop">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" routerLink="/home">{{ "Home" | translate }}</a>
        </li>
        <li class="nav-item dropdown" [routerLinkActive]="['active']">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Tours
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a
              class="dropdown-item"
              *ngFor="let product of products"
              [routerLink]="['/tour', product.sys.id]"
              >{{ product.fields.title | translate }}</a
            >
          </div>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" routerLink="/transportation">{{
            "Transportation" | translate
          }}</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" routerLink="/about">{{
            "About us" | translate
          }}</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" routerLink="/contact">{{
            "Contact us" | translate
          }}</a>
        </li>
        <li class="nav-item dropdown">
          <select
            class="custom-select"
            #langs
            (change)="changeLang(langs.value)"
          >
            <option value="en-US" [selected]="lang == 'en-US'">English</option>
            <option value="es-CR" [selected]="lang == 'es-CR'">Spanish</option>
          </select>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Mobile Navbar -->
<nav
  class="navbar navbar-expand-lg navbar-dark sticky-top justify-content-between"
  *ngIf="isMobileLayout == true"
>
  <a class="navbar-brand" routerLink="/home">
    <img src="assets/img/logo.png" alt="Logo" class="logo-img" />
  </a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/home">{{ "Home" | translate }}</a>
      </li>
      <li class="nav-item dropdown" [routerLinkActive]="['active']">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Tours
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a
            class="dropdown-item"
            *ngFor="let product of products"
            [routerLink]="['/tour', product.sys.id]"
            >{{ product.fields.title | translate }}</a
          >
        </div>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/transportation">{{
          "Transportation" | translate
        }}</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/about">{{ "About us" | translate }}</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/contact">{{
          "Contact us" | translate
        }}</a>
      </li>
      <li class="nav-item dropdown">
        <select class="custom-select" #langs (change)="changeLang(langs.value)">
          <option value="en-US" [selected]="lang == 'en-US'">English</option>
          <option value="es-CR" [selected]="lang == 'es-CR'">Spanish</option>
        </select>
      </li>
    </ul>
  </div>
</nav>
